{% extends "base.html" %}
{% block title %} Editar Nota {% endblock %}

{% block content %}
    <h1>Editar nota</h1>

    <div class="formulario">
        <form action="{{url_for('editar_nota', id = nota.id)}}" method="POST">
            <div class="edit-ingles"><label for="ingles">Ingles</label></div>
            <div class="edit-ingles"><input type="text" name="ingles" id="ingles" placeholder="Actualizar datos" value="{{nota.ingles}}" required></div>
            
            <div class="edit-espanol"><label for="espanol" >Español</label></div>
            <div class="edit-espanol"><input type="text" name="espanol" id="espanol" placeholder="Actualizar datos" value="{{nota.espanol}}" required></div>
            
            <div class="mensaje"></div>
            
            <div class="btn-actualizar"><button type="submit">Actualizar</button></div>
        </form>
    </div>
    <a href="{{ url_for('inicio') }}">Regresar</a>
{% endblock %}