{% extends 'base.html' %}
{% block title %}Memory notes{% endblock %}

{% block content %}
    <h1>Memory notes</h1>
    <hr>

    <div class="contenedor-index">
        <!--botones de eleccion-->
        <div class="btns">
            <aside>
                <a href="{{ url_for('agregar_nota') }}" class="link"><div class="btns-item">Agregar nota</div></a>
                <a href="{{ url_for('nota_aleatoria') }}" class="link"><div class="btns-item">Repasar notas</div></a>
                <a href="{{ url_for('nota_por_fecha') }}" class="link"><div class="btns-item">Buscar nota por fecha</div></a>
            </aside>
        </div>
        {% if data %}
        <div class="encabezado-index">
            <div class="encabezado-item">ID</div>
            <div class="encabezado-item">Ingles</div>
            <div class="encabezado-item">Español</div>
            <div class="encabezado-item">Acciones</div>
        </div>
        {% for nota in data %}
        <div class="fila-index">
            <div class="fila-item">{{nota.id}}</div>
            <div class="fila-item">{{nota.ingles}}</div>
            <div class="fila-item">{{nota.espanol}}</div>
            <div class="fila-item">
                <a href="{{url_for('eliminar_nota', id = nota.id)}}">Eliminar</a>
                <a href="{{url_for('editar_nota', id = nota.id)}}">Editar nota</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h2>Sin notas</h2>
    {% endif %}
    </div>

{% endblock %}
