{% extends 'base.html' %}
{% block title %}Buscar nota por fecha{% endblock %}

{% block content %}
    <h1>Buscar notas por fecha</h1>
    <a href="{{ url_for('inicio') }}" class="regresar">Regresar</a>

    <div class="contenedor-fechas">
        {% if data_fechas %}
            {% for fecha,clave in data_fechas[0].items() %}
                <div class="fecha">{{ fecha }}</div>
                <div class="contenido-fechas">

                    <div class="encabezado-fechas">
                        <div class="encabezado-fecha">ID</div>
                        <div class="encabezado-fecha">Ingles</div>
                        <div class="encabezado-fecha">Español</div>
                    </div>

                    {% for elemento in clave %}
                    <div class="fila-fechas">
                        <div class="fila-fecha">{{ elemento.get('id') }}</div>
                        <div class="fila-fecha">{{ elemento.get('ingles') }}</div>
                        <div class="fila-fecha">{{ elemento.get('espanol') }}</div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
        <h2>
            Sin notas
        </h2>
        {% endif %}
    </div>
        
{% endblock %}