.formulario{
    background-color: #e2f8ecb9;
    border: none black 2px;
    margin: 30px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0006;
}
input{
    border: solid rgba(1, 75, 104, 0.678) 2px;
    border-radius: 8px;
    /*outline none quita el contorno del input al clicar*/
    outline: none; 
    /*una transicion de 3 segundos a todo el input  ease-in-out aplica los cambios de forma suave*/
    transition: all 0.3s ease-in-out;
}
input:focus{
    border-color: rgba(230, 218, 231, 0.438);
    box-shadow: 0px 0px 6px rgb(179, 169, 170);
}
.add-ingles,
.add-espanol,
.edit-ingles,
.edit-espanol{
    margin: 8px 0px;
}
.btn-agregar,
.btn-actualizar{
    margin-top: 16px;
}

/*si el placeholder NO esta siendo mostrado
obtenemos las variables bg y text*/
form:has(:placeholder-shown){
    --bg: rgba(250, 36, 36, 0.842);
    --text: '¡No has escrito nada aún!';
}
/*estas variables sin aplicadas despues, como un after*/
.mensaje::after{
    content: var(--text);
    background-color: var(--bg);
    padding: 3px 5px;
    box-shadow: 0px 0px 8px rgb(195, 172, 202);
}